@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
  background-color: #fff;
}

.page-header {
  color: #000000;
  display: flex;
}

/*navigation*/
.logo {
  width: 140px;
  margin-left: 70px;
  margin-right: 30px;
  display: block;
  position: absolute;
}

.navigation {
  width: 1060px;
  margin: 0 auto;
  display: flex;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 464px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: auto;
  margin-left: 170px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-align: center;
  text-decoration: none;
  padding: 20px 16px;
  display: block;
}

.navigation-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.navigation-user {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 410px;
}

.navigation-button {
  position: relative;
  width: 44px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-button--search::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/icon-search.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}

.navigation-button--favourites::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/icon-heart.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}

.navigation-link .button {
  padding: 8px 34px;
  margin-left: 20px;
  width: 160px;
}

.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 50px;
  text-decoration: none;
  display: block;
}

.button-basic {
  background-color: #756157;
}

.button-second {
  background-color: #82B3D3;
  border: none;
}

.button-second-green {
  background-color: #7DB54F;
  border: none;
}

.heading-two {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.heading-three {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.text-discription {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.hero {
  background-image: url("../images/hero-decoration.svg"), url("../images/hero-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 100% auto, cover;
  background-position: left 0 bottom 0;
  background-color: #5282AB;
  height: 485px;
  padding: 60px;
  text-align: center;
}

.lead {
  margin: 69px auto 25px auto;
  max-width: 620px;
  text-align: center;
}

.about-advantages {
  margin-bottom: 69px;
}

/*Advantages*/
.advantages-list {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-item {
  min-height: 385px;
  color: #fff;
}

.advantages-item-text {
  display: flex;
  flex-direction: column;
}

.advantages-discription {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin: 30px 85px 102px;
}

.advantages-discription-white {
  color: #fff;
}

.advantages-title {
  max-width: 175px;
  margin: 102px auto 30px;
}

.advantages-title-white {
  color: #fff;
}

.advatages-item-dark-blue {
  background-color: #82B3D3;
  color: #fff;
  width: 1200px;
  display: flex;
}

.advantages-item-light-blue {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.advantages-item-blue {
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
}

/*service*/
.service-heading {
  text-align: center;
  margin: 64px auto 20px;
  max-width: 505px;
}

.service-advantages {
  max-width: 490px;
  margin-bottom: 64px;
  margin-right: auto;
  margin-left: auto;
}

/*
.service-item {
  position: relative;
}

.service-item-housing {
  content: "";
  position: absolute;
  background-image: url("../images/advantage-housing.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 75px;
  height: 72px;
}

.service-item--food {
  content: "";
  position: absolute;
  background-image: url("../images/advantage-food.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;

}

.service-item--souvenirs {
  content: "";
  position: absolute;
  background-image: url("../images/advantage-souvenirs.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
}

*/
.service-title {
  margin: 183px auto 30px;
}

.service-discription {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  max-width: 230px;
  margin: 0 auto 82px;
}

.service-list {
  list-style-type: none;
  text-align: center;
  display: flex;
  margin: 0;
  padding: 0;
}

.service-item {
  width: 400px;
}


.service-item--souvenirs,
.service-item--housing {
  background-color: rgba(131, 179, 211, 0.12);
}

/*search*/
.hotels-search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hotels-search-title {
  margin: 96px auto 20px;
}

.hotels-search-form {
  margin: 0 auto 54px;
  max-width: 592px;
}

.button-search {
  width: 376px;
  height: 52px;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 96px;
}

/*mailing*/
.mailing {
  padding: 96px 258px 104px;
  text-align: center;
}

.mailing-index {
  background-image: url("../images/subscribe-background.jpg");
  background-size: cover;
  background-color: #5282AB;
  background-repeat: no-repeat;
}

.mailing-title {
  margin: 96px auto 20px;
}

.mailing-form {
  margin: 0 auto 54px;
}

.mailing-title-index {
  color: #fff;
}

.mailing-form-index {
  color: #fff;
}

.button-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Subscription*/
.subscribtion-form-index {
  display: flex;
}

.subscribtion-form {
  display: flex;
}

.email-form {
  align-items: center;
  background-color: #F2F2F2;
  border-radius: 4px 0 0 4px;
  padding: 12px 20px;
  width: 452px;
  height: 52px;
  border: none;
}

.button-mailing {
  border-radius: 0 4px 4px 0;
}


/*footer*/
.page-footer {
  min-height: 120px;
}

.page-footer-container {
  width: 1060px;
  margin: 45px auto 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  min-width: 142px;
  list-style-type: none;
}

.footer-social-item {
  position: relative;
  width: 47px;
  height: 40px;
  padding: auto 10px;
  margin: bottom 8px;
  display: inline-block;
}

.footer-social-item--vk::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/social-vk.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 14px;
}

.footer-social-item--telegram::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/social-telegram.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 14px;
}

.footer-social-item--youtube::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/social-youtube.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 14px;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  width: 331px;
  margin-left: auto;
}

.htmlacademy-link {
  width: 115px;
  margin-left: auto;
}

/*catalog*/
.inner-header-title {
  margin: 0 auto 8px 70px;
  padding: 35px;
}

.breadcrumbs {
  list-style-type: none;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
  margin-right: 28px;
}

.heder-filters {
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-position: left 0 bottom 0;
  background-color: #5282AB;
  color: #fff;
  min-height: 412px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  width: 150.43px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

/*sorting*/
.sorting-block {
  display: flex;
  align-items: center;
  margin: 50px 70px 40px;
}

.catalog-sorting {
  margin-right: auto;
}

.button-view {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  display: block;
}

/*Product-list*/
.product-card-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product-card-text {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card-item {
  list-style-type: none;
  width: 340px;
}

.rating-numeral {
  position: relative;
  width: 140px;
  height: 37px;
  background: #F2F2F2;
  border-radius: 4px;
  text-align: center;
}

/*Pagination*/

.pagination {
  list-style-type: none;
  display: flex;
  margin: 0;
  margin-left: 70px;
  padding: 0;
  padding-bottom: 60px;
}

.pagination-item {
  width: 60px;
  height: 60px;
  background-color: #82B3D3;
  border-radius: 4px;
  text-align: center;
  align-items: center;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-item:nth-last-child(2) {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #fff;
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  /* padding-top: 11.5px;*/
}

.pagination-current {
  background-color: #F2F2F2;
}

.pagination-link-current {
  color: #000000;
}

.mailing {
  text-align: center;
}
