@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #fff;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  color: #000000;
}

/*navigation*/
.logo {
  width: 138px;
  margin-left: 70px;
  margin-right: 28px;
  display: block;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 607px;
}

.navigation-user {
  max-width: 308px;
  margin-left: auto;
}

.navigation-item {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  position: relative;
}

.navigation-item--search::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/icon-search.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;

}

.navigation-item--favourites::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/icon-heart.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-align: center;
  text-decoration: none;
}

.button {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 50px;
  text-decoration: none;
}

.button-basic {
  background-color: #756157;
}

.button-second {
  background-color: #82B3D3;
}

.button-second-green {
  background-color: #7DB54F;
}

.heading-two {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000
}

.heading-three {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.text-discription {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.hero {
  background-image: url("../images/hero-decoration.svg"), url("../images/hero-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 100% auto, cover;
  background-position: left 0 bottom 0;
  background-color: #5282AB;
  height: 485px;
  padding: 60px;
  text-align: center;
}

/*Advantages*/
.advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-columns {
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.advatages-item-dark-blue {
  background-color: #82B3D3;
  color: #fff;
}

.advantages-title-white {
  color: #fff
}

.advantages-discription {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantages-discription-white {
  color: #fff;
}

.advantages-item-light-blue {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
}

.advantages-item-blue {
  background-color: rgba(131, 179, 211, 0.2);
  width: 400px;
}

/*service*/
/*
.service-item {
  position: relative;
}

.service-item-housing {
  content: "";
  position: absolute;
   background-image: url("../images/advantage-housing.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 75px;
  height: 72px;
}

.service-item--food {
  content: "";
  position: absolute;
  background-image: url("../images/advantage-food.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;

}

.service-item--souvenirs {
  content: "";
  position: absolute;
   background-image: url("../images/advantage-souvenirs.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
}
*/
.service-list {
  list-style-type: none;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.service-discription {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.service-item--souvenirs,
.service-item--housing {
  background-color: rgba(131, 179, 211, 0.12);
}

.hotels-search {
  text-align: center;
}

/*mailing*/
.mailing-index {
  background-image: url("../images/subscribe-background.jpg");
  background-size: cover;
  background-color: #5282AB;
  background-repeat: no-repeat;
  height: 414px;
  padding: 96px 258px 104px;
  text-align: center;
}

.mailing-title-index {
  color: #fff;
}

.mailing-form-index {
  color: #fff;
}

.email-form {
  align-items: center;
  background-color: #F2F2F2;
  border-radius: 4px 0 0 4px;
  padding: 12px 20px;
  width: 452px;
  height: 52px
}

/*footer*/
.page-footer-container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  width: 142px;
}


.htmlacademy-link {
  width: 115px;
  margin-left: auto;
}


.footer-social-item {
  position: relative;
}

.footer-social-item--vk::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/social-vk.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 14px;
}

.footer-social-item--telegram::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/social-telegram.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 14px;
}

.footer-social-item--youtube::before {
  content: "";
  position: absolute;
  background-image: url("../images/icons/social-youtube.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 14px;
}

.footer {
  width: 1200px;
  height: 120px;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  width: 331px;
  margin-left: 236.5px;

}

/*catalog*/
.breadcrumbs {
  list-style-type: none;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

.heder-filters {
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-position: left 0 bottom 0;
  height: 485px;
  padding: 60px;
  background-color: #5282AB;
  color: #fff;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-group {
  width: 150.43px;
  margin-right: 70px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.product-card-list {
  display: flex;
  justify-content: flex-start;
}

.product-card-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card-item {
  list-style-type: none;
  width: 340px;
}

.rating-numeral {
  position: relative;
  width: 140px;
  height: 37px;
  background: #F2F2F2;
  border-radius: 4px;
  text-align: center;
}

.pagination {
  list-style-type: none;
}

.pagination-item {
  width: 60px;
  height: 60px;
  background-color: #82B3D3;
  border-radius: 4px;
  text-align: center;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #fff;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.pagination-current {
  background-color: #F2F2F2;
}

.pagination-link-current {
  color: #000000;
}

.mailing {
  text-align: center;
}

.button-newsletter {
  width: 232px;
  height: 52px;
}
