@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
  font-weight: 400;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  width: 1200px;
  background-color: #fff;
}

.main-container {
  flex-grow: 1;
}

.page-header {
  color: #000000;
  display: flex;
}

/*navigation*/
.logo {
  width: 140px;
  margin-left: 70px;
  margin-right: 30px;
  display: block;
  position: absolute;
}

.navigation {
  width: 1060px;
  margin: 0 auto;
  display: flex;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 464px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: auto;
  margin-left: 170px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-align: center;
  text-decoration: none;
  padding: 20px 16px;
  display: block;
  position: relative;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #756157;
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}


.navigation-link-current {
  position: relative;
}

.navigation-link-current::after {
  position: absolute;
  content: "";
  height: 2px;
  background-color: #756157;
  bottom: -1px;
  right: 16px;
  left: 16px;
}

.navigation-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.navigation-user {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 410px;
}

.navigation-link.button {
  padding: 8px 34px;
  margin-left: 20px;
}

.navigation-button {
  position: relative;
  min-width: 44px;
  min-height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.header-icon:hover,
.header-icon:focus {
  fill: #756157;
}

.header-icon:active {
  fill: rgba(117, 97, 87, 0.3);
}

.navigation-button--favourites {
  position: relative;
}

.navigation-button--favourites::after {
  position: absolute;
  content: "12";
  color: #fff;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #7DB54F;
  left: 20px;
  top: 11px
}

.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 50px;
  text-decoration: none;
  display: block;
  border: none;
}

.button-basic {
  background-color: #756157;
}

.button-basic:hover,
.button-basic:focus {
  color: #fff;
  background-color: #615048;
}

.button-basic:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-basic:disabled {
  background-color: #E5E5E5;
  color: #fff;
}

.button-second {
  background-color: #82B3D3;
}

.button-second:hover,
.button-second:focus {
  background-color: #68A2CA;
}

.button-second:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-second:disabled {
  background-color: #E5E5E5;
  color: #fff;
}

.heading-two {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.heading-three {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.text-discription {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.hero {
  background-image: url("../images/hero-decoration.svg"), url("../images/hero-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 100% auto, cover;
  background-position: left 0 bottom 0;
  background-color: #5282AB;
  height: 485px;
  padding: 60px;
  text-align: center;
}

.lead {
  margin: 69px auto 25px auto;
  max-width: 620px;
  text-align: center;
}

.about-advantages {
  margin-bottom: 69px;
}

/*Advantages*/
.advantages-list {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-item {
  min-height: 385px;
}

.advantages-item-text {
  display: flex;
  flex-direction: column;
}

.advantages-discription {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  margin: 30px 85px 102px;
}

.advantages-discription-white {
  color: #fff;
}

.advantages-title {
  max-width: 175px;
  margin: 102px auto 32px;
}

.advantages-title-white {
  color: #fff;
}

.advantages-underline-black,
.advantages-underline-white {
  position: relative;
}

.advantages-underline-black::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  bottom: -32px;
  right: 57.5px;
  left: 57.5px;
}

.advantages-underline-white::after {
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  bottom: -32px;
  right: 57.5px;
  left: 57.5px;
}

.advatages-item-dark-blue {
  background-color: #82B3D3;
  color: #fff;
  width: 1200px;
  display: flex;
}

.advantages-item-light-blue,
.advantages-item-blue {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.advantages-item-light-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

.advatages-item-dark-blue:last-child {
  flex-direction: row-reverse;
}

/*service*/
.service-heading {
  text-align: center;
  margin: 64px auto 20px;
  max-width: 505px;
}

.service-advantages {
  max-width: 490px;
  margin-bottom: 64px;
  margin-right: auto;
  margin-left: auto;
}

.service-title {
  margin: 30px auto;
}

.service-discription {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
  max-width: 230px;
  margin: 0 auto 82px;
}

.service-list {
  list-style-type: none;
  text-align: center;
  display: flex;
  margin: 0;
  padding: 0;
}

.service-item {
  width: 400px;
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center 81px;
  padding-top: 152px;
}

.service-item--souvenirs,
.service-item--housing {
  background-color: rgba(131, 179, 211, 0.12);
}

/*Service icon*/
.service-item--housing {
  background-image: url("../images/advantage-housing.svg");

}

.service-item--food {
  background-image: url("../images/advantage-food.svg");
}

.service-item--souvenirs {
  background-image: url("../images/advantage-souvenirs.svg");
}


/*search*/
.hotels-search {
  padding-top: 96px;
  padding-bottom: 96px;
}

.search-wrapper {
  width: 592px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.hotels-search-title {
  margin: 0;
}

.hotels-search-form {
  margin: 20px auto 54px;
}

.button-search {
  width: 376px;
  height: 52px;
  font-size: 20px;
  line-height: 36px;
}

/*mailing*/
.mailing {
  padding: 96px 258px 104px;
  text-align: center;
}

.mailing-index {
  background-image: url("../images/subscribe-background.jpg");
  background-size: cover;
  background-color: #5282AB;
  background-repeat: no-repeat;
}

.mailing-title {
  margin: 96px auto 20px;
}

.mailing-form {
  margin: 0 auto 54px;
}

.mailing-title-index {
  color: #fff;
}

.mailing-form-index {
  color: #fff;
}

.button-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Subscription*/
.subscribtion-form-index {
  display: flex;
}

.subscribtion-form {
  display: flex;
}

.email-form {
  align-items: center;
  background-color: #F2F2F2;
  border-radius: 4px 0 0 4px;
  padding: 12px 20px;
  width: 452px;
  height: 52px;
  border: none;
}

.button-mailing {
  border-radius: 0 4px 4px 0;
}


/*footer*/
.page-footer {
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-footer-container {
  width: 1060px;
  display: flex;
  flex-wrap: wrap;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  min-width: 142px;
  list-style-type: none;
}

.footer-social-item {
  width: 47px;
  height: 40px;
  padding: auto 10px;
  margin: bottom 8px;
  display: inline-block;
}

.button-social {
  width: 47px;
  height: 40px;
}

.social-icon {
  *top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.social-icon:hover,
.social-icon:focus {
  fill: #68A2CA;
}

.social-icon:active {
  fill: rgba(104, 162, 202, 0.3);
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  width: 331px;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.phone-number:hover,
.phone-number:focus {
  color: #756157;
}

.phone-number:active {
  color: rgba(117, 97, 87, 0.3);
}

.htmlacademy-link {
  width: 115px;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.htmlacademy-icon:hover,
.htmlacademy-icon:focus {
  fill: #756157;
}

.htmlacademy-icon:active {
  fill: rgba(117, 97, 87, 0.3);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #fff;
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  width: 56px;
  height: 44px;
  background-color: #ffffff;
  border: none;
  background-image: url("../images/icons/icon-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.modal-text {}

.modal-container-close {
  display: none;
}

/*CATALOG*/
.centering-container {
  margin: 0 auto;
  max-width: 1060px
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0 auto 8px;
}

/*BREADCRUMBS*/

.breadcrumbs {
  list-style-type: none;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}

.breadcrumbs-link--home {}

.breadcrumbs-link {
  padding: 8px 14px;
  position: relative;
}


.breadcrumbs-link::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 20px;
  background-image: url("../images/icons/icon-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 8px 12px;
  margin-left: 10px;
}

/*FILTERS*/
.header-filters {
  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-position: left 0 bottom 0;
  background-color: #5282AB;
  color: #fff;
  min-height: 412px;
  padding-top: 35px;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  width: 150.43px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.range-scale {
  position: relative;

}

/*sorting*/
.sorting-block {
  display: flex;
  align-items: center;
  margin: 50px 0 40px;
}

.catalog-sorting {
  margin-left: auto;
  margin-right: 70px;
}

.button-view {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  display: block;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.button-view:hover {
  border-color: #000000
}

.button-view:focus {
  border-color: #68A2CA;
  outline: none;
}

.button-view:active {
  border-color: #000000;
}

.button-view--card {
  width: 48px;
  height: 48px;
  background-image: url("../images/icons/view-tile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}

.button-view--slideshow {
  width: 48px;
  height: 48px;
  background-image: url("../images/icons/view-slideshow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}

.button-view--list {
  width: 48px;
  height: 48px;
  background-image: url("../images/icons/view-list.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}


/*Product-list*/
.button-transparent {
  background: none;
}

.button-transparent:hover {
  background: none;
  color: rgba(255, 255, 255, 0.3);
  border: none;
}

.button-transparent:focus {
  background: none;
  border: 3px solid #83B3D3;
  border-radius: 4px;
  outline: none;
}

.button-transparent:active {
  background: none;
  color: rgba(255, 255, 255, 0.3);

}

.button-transparent:disabled {
  color: rgba(255, 255, 255, 1);
}

.catalog-card-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin-bottom: 40px;
}

.product-card-item {
  list-style-type: none;
  width: 300px;
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 16px 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  padding: 20px;
}

.product-card-title,
.product-card-img {
  grid-column: 1/-1;
}

.product-card-img {
  order: -1;
}

.product-card-text {
  color: #333333;
}

.hotel-price {
  margin-left: auto
}

.button-more {
  padding: 8px 26px;
}

.button-favourites {
  padding: 8px 20px;
  text-align: center;
}

.button-second-green {
  background-color: #7DB54F;
  padding: 8px 18px;
}

.button-second-green:hover,
.button-second-green:focus {
  background-color: #6C9E42;
}

.button-second-green:active {
  background-color: #7DB54F;
  color: rgba(255, 255, 255, 0.3);
}

.button-second-green:disabled {
  color: #fff;
  background-color: #E5E5E5;
}

.raiting {}

.rating-star {
  display: block;
  background-image: url("../images/icons/icon-star.svg");
  width: 19;
  height: 19px;
  background-size: 18px 17px;
  background-repeat: no-repeat;
}

.rating-numeral {
  position: relative;
  background: #F2F2F2;
  border-radius: 4px;
  text-align: center;
  padding: 9px 22px;
  color: #333333;
}

/*Pagination*/

.pagination {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 40px 0 60px 0;
}

.pagination-item {
  width: 60px;
  height: 60px;
  background-color: #82B3D3;
  border-radius: 4px;
  text-align: center;
  align-items: center;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68A2CA;
  border-radius: 4px;
}

.pagination-link:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-item:nth-last-child(2) {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #fff;
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}

.pagination-current {
  background-color: #F2F2F2;
}

.pagination-link-current {
  color: #000000;
}
